<% provide(:title, 'About') %>
<div id="profile-container">
  <div class="row">
    <div class="col-md-3 top-padding right-border center">
      <img class="profile-picture" src="http://media.licdn.com/dms/image/C4E03AQFA3HxDkseVMA/profile-displayphoto-shrink_200_200/0?e=1554336000&v=beta&t=AiZf7lVo_MfdQ78IQE3AVI1z3QeT4mY_ZkHiWVErKjA" alt="Thomas Raddatz">
      <h2 class="center top-padding">tnraddatz@email.wm.edu</h2>
    </div>
    <div class="col-md-9 top-padding">
      <div class="scroll-container testimonial-group">
        <div class="row text-center flex-nowrap">
            <div class="col-sm-4"><a href="https://github.com/tnraddatz"><%= image_tag('git.png', class: "outlet-image")%></a></div>
            <div class="col-sm-4"><a href="https://www.youtube.com/channel/UC3OhPHBA5fj0JPSBoLxjoHw"><%= image_tag('youtube.png', class: "youtube-logo")%></a></div>
            <div class="col-sm-4"><a href="https://www.linkedin.com/in/thomas-raddatz-2432949b/"><%= image_tag('linkedin.png', class: "outlet-image")%></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="profile-container">
  <hr>
  <h1> Newspeak </h1>
    <p>
      NewSpeak makes navigating the news easier.  With over 20+ News outlets and 10,000+ articles, the application delivers up-to-date news every 15 minutes
      allowing users to view articles from multiple angles. This project was undertaken to serve as a reference for my Ruby on Rails experience as well as its
      integration with ELK, Docker, Digitial Ocean, and 3rd party APIs.
    </p>
  <br>
  <h1> Thomas Raddatz </h1>
    <p>
      A recent graduate of The College of William & Mary with a double major in Computer Science and Finance, I specialize in application and full-stack web development,
      with an interest in financial technology software. Throughout my four years at The College of William & Mary I was an avid Ruby on Rails developer, building rails
      applications to compete in hack-a-thons and business competitions. Since graduating, I have continued my passion for web development with Ruby on Rails and in an effort
      to encapsulate some of my knowledge into one project, I created “NewSpeak.”

      To learn more about my interests and experience, download my <%= link_to 'resume', 'thomas_resume.pdf', download: 'Thomas_Raddatz' %>.
    </p>
  <br>
  <br>
</div>
