<% provide(:title, 'Pledge') %>
<div id="profile-container">
  <h1>
    On Social Media websites, this page would normally display content from all users,
    including profile pictures, posts, display names, and email addresses.  In order to
    stop any data collection effort, we have disabled this feature.
    <br>
    <hr>
    The pledge to our users
    is to never collect, store or share their data.
  </h1>
</div>
