<% content_for :bricklayer do %>
  <% provide(:title, "Following") %>
  <h1> <%= @title %> </h1>
  <div id="news-container">
    <hr>
    <div class="bricklayer">
      <%= render 'bricklayer_layouts/default_outlets.html.erb'%>
    </div>
  </div>
<% end %>
