<% content_for :bricklayer do %>
  <% provide(:title, 'Outlets') %>
  <h1>
    Outlets
  </h1>
    <div id="news-container">
      <hr>
      <div class="bricklayer">
        <%= render 'bricklayer_layouts/default_outlets.js.erb'%>
      </div>
    </div>
<%end%>
