<% content_for :bricklayer do %>
  <% provide(:title, @outlet.outlet_name) %>
  <h1> <%= image_tag(@outlet.imageurl, class: "outlet-image", alt: @outlet.outlet_name) %>
    <%=@outlet.outlet_name%>
  </h1>
  <hr>
  <div id="news-container">
    <div class="bricklayer">
      <%= render 'bricklayer_layouts/default_news_articles.html.erb'%>
    </div>
  </div>

<%end%>
